

<section class="Hero-Content">

  <aside class="Main-Left">

    <h3 class="rentix">Choose Rentix for Your Next  <span><input type="text" id="inputID" /></span> </h3>
    <p class = "rentix-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, obcaecati?</p>

    <input type="search" class = "Seach-query" value ="Las Vegas">
    <input type="submit" class = "submit-btn"></input>
    

  </aside>



</section>

<h2 class="rentix-main">Popular Residences. </h2>
<section class="Trending-Section">


{{#each trending}}

<div class="cards">
hello

<p>{{ trending_title}}</p>
<p>{{trending_description}}</p>
</div>

{{/each}}




</section>








{{! <span>like..</span> }}

<script src="/js/index.js"></script>