<section class="Hero-Content">

  <aside class="Main-Left">

    <h3 class="rentix">Choose Rentix for Your Next <span><input type="text" id="inputID" /></span> </h3>
    <p class="rentix-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, obcaecati?</p>

    <input type="search" class="Seach-query" value="Las Vegas">
    <input type="submit" class="submit-btn"></input>


  </aside>



</section>

<h2 class="rentix-main">Our Services </h2>

<section class="Trending-Section">


  <div class="Homepage-card">
    <img src="/images/pexels-ryutaro-tsukata-5745816.jpg" alt="" srcset="">
    <div class="textBox">
      <a href="/api/accomodation" class="textHead">Accomodation &rarrtl;</a>
      <span class="Card-Sub">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur, voluptatem..</span>

    </div>
  </div>


  <div class="Homepage-card">
    <img src="/images/pexels-scott-webb-174752.jpg" alt="" srcset="">
    <div class="textBox">
      <a href="/api/transport" class="textHead">Transportation &rarrtl;</a>
      <span class="Card-Sub">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur, voluptatem.
      </span>

    </div>
  </div>



  <div class="Homepage-card">
    <img src="/images/pexels-mat-brown-1395967.jpg" alt="" srcset="">
    <div class="textBox">
      <a href="/api/catering" class="textHead">Catering &rarrtl;</a>
      <span class="Card-Sub">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur, voluptatem.</span>


    </div>
  </div>
</section>

<div class="Rental-Wrapper">

  <section class="Car-Rental">

    <div class="Look">
      <h2>Why Rentix For your Next Roadtrip Adventure?</h2>
      <p class="Look-Para">We have full flexibilty for your needs with over 10,000 vehicles in our inventory.</p>
    </div>
    <form class="form-input" action="">
      <label for="Make">Make:</label>
      <select name="cars" id="Make">
        <option value="volvo">Volvo</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
        <option value="bmw">BMW</option>
        <option value="ford">Ford</option>
        <option value="toyota">Toyota</option>
        <option value="honda">Honda</option>
        <option value="chevrolet">Chevrolet</option>
        <option value="nissan">Nissan</option>
        <option value="volkswagen">Volkswagen</option>
        <option value="hyundai">Hyundai</option>
        <option value="subaru">Subaru</option>
        <option value="kia">Kia</option>
        <option value="mazda">Mazda</option>
      </select>

      <label for="Model"> Model:</label>
      <select name="car" id="Model">
        <optgroup label="Volvo">
          <option value="S60">S60</option>
          <option value="XC40">XC40</option>
          <option value="XC60">XC60</option>
          <option value="XC90">XC90</option>
        </optgroup>

        <optgroup label="Mercedes">
          <option value="C-Class">C-Class</option>
          <option value="E-Class">E-Class</option>
          <option value="S-Class">S-Class</option>
          <option value="GLC">GLC</option>
          <option value="GLE">GLE</option>
          <option value="GLS">GLS</option>
        </optgroup>
        <optgroup label="Audi">
          <option value="A3">A3</option>
          <option value="A4">A4</option>
          <option value="A6">A6</option>
          <option value="Q5">Q5</option>
          <option value="Q7">Q7</option>
          <option value="Q8">Q8</option>
        </optgroup>
        <optgroup label="BMW">
          <option value="3 Series">3 Series</option>
          <option value="5 Series">5 Series</option>
          <option value="X3">X3</option>
          <option value="X5">X5</option>
          <option value="X7">X7</option>
        </optgroup>
        <optgroup label="Ford">
          <option value="Mustang">Mustang</option>
          <option value="Focus">Focus</option>
          <option value="Fusion">Fusion</option>
          <option value="Escape">Escape</option>
          <option value="Explorer">Explorer</option>
          <option value="F-150">F-150</option>
        </optgroup>
        <optgroup label="Toyota">
          <option value="Camry">Camry</option>
          <option value="Corolla">Corolla</option>
          <option value="RAV4">RAV4</option>
          <option value="Highlander">Highlander</option>
          <option value="Tacoma">Tacoma</option>
          <option value="4Runner">4Runner</option>
        </optgroup>
        <optgroup label="Honda">
          <option value="Civic">Civic</option>
          <option value="Accord">Accord</option>
          <option value="CR-V">CR-V</option>
          <option value="Pilot">Pilot</option>
          <option value="Odyssey">Odyssey</option>
        </optgroup>
        <optgroup label="Chevrolet">
          <option value="Malibu">Malibu</option>
          <option value="Camaro">Camaro</option>
          <option value="Equinox">Equinox</option>
          <option value="Traverse">Traverse</option>
          <option value="Silverado">Silverado</option>
        </optgroup>
        <optgroup label="Nissan">
          <option value="Altima">Altima</option>
          <option value="Maxima">Maxima</option>
          <option value="Rogue">Rogue</option>
          <option value="Murano">Murano</option>
          <option value="Pathfinder">Pathfinder</option>
        </optgroup>
        <optgroup label="Volkswagen">
          <option value="Golf">Golf</option>
          <option value="Jetta">Jetta</option>
          <option value="Passat">Passat</option>
          <option value="Tiguan">Tiguan</option>
          <option value="Atlas">Atlas</option>
        </optgroup>
        <optgroup label="Hyundai">
          <option value="Elantra">Elantra</option>
          <option value="Sonata">Sonata</option>
          <option value="Tucson">Tucson</option>
          <option value="Santa Fe">Santa Fe</option>
          <option value="Palisade">Palisade</option>
        </optgroup>
        <optgroup label="Subaru">
          <option value="Impreza">Impreza</option>
          <option value="Legacy">Legacy</option>
          <option value="Forester">Forester</option>
          <option value="Outback">Outback</option>
          <option value="Ascent">Ascent</option>
        </optgroup>
        <optgroup label="Kia">
          <option value="Optima">Optima</option>
          <option value="Soul">Soul</option>
          <option value="Sportage">Sportage</option>
          <option value="Sorento">Sorento</option>
          <option value="Telluride">Telluride</option>
        </optgroup>
        <optgroup label="Mazda">
          <option value="Mazda3">Mazda3</option>
          <option value="Mazda6">Mazda6</option>
          <option value="CX-5">CX-5</option>
          <option value="CX-9">CX-9</option>
          <option value="MX-5 Miata">MX-5 Miata</option>
        </optgroup>
      </select>

      <label for="year">Year:</label>
      <input type="text" id="year">
      <label for="Transmission">Transmission Type:</label>
      <input type="text" id="Transmission">
      <label for="fuel">Fuel Type:</label>
      <input type="text" id="fuel">


  
      <a  class="Take-Me" >Find</a>
    </form>
  </section>
</div>




<main>
  <div class="Wrap-Contact">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d184551.90977296088!2d-79.54286380725866!3d43.718370957970016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cb90d7c63ba5%3A0x323555502ab4c477!2sToronto%2C%20ON!5e0!3m2!1sen!2sca!4v1687038522660!5m2!1sen!2sca"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
    <section class="Contactus">


      <form class="contact-form" action="">
        <label for="contact-email">E-mail:</label>
        <input type="email" name="contact-email" id="contact-email">
        <label for="contact-name">Name:</label>
        <input type="text" name="contact-name" id="contact-name">
        <label for="contact-phone">Phone:</label>
        <input type="text" name="contact-phone" id="contact-phone">
        <label for="contact-message">Message:</label>
        <textarea name="contact-message" id="contact-message"></textarea>
        <input class ="contact-submit-btn"type="submit" value="Submit">
      </form>

    </section>
  </div>
</main>


<script src="/js/index.js"></script>