<h2 class="Specs-For">Specs For Toyota Corolla</h2>

<div class="Container-For">
<div class="wrapper">
 <div class="Image-Content">
        <img src="/images/pexels-faris-7992270.jpg" alt="" srcset="">
    </div>
<section class="Product-Description">
   
    
    <div class="Car-Specs">
    
         <p class="des">Class:<span ></span></p>
          <p class="des">Highway Mpg:<span></span></p>
           <p class="des">City Mpg:<span></span></p>
            <p class="des">Combined Mpg:<span></span></p>
                  <p class="des">Cylinders:<span></span></p>
          
            

    </div>
      <div class="Car-Specs">
    
           <p class="des">Year:<span></span></p>
        <p class="des">Make:<span></span></p>
         <p class="des">Model:<span></span></p>
          <p class="des">Fuel Type:<span></span></p>
           <p class="des">Transmission:<span></span></p>
          

            </div>

<div class = "Date">
    
     <h3>Continue Booking?</h3>
               <input type="datetime-local" name="" id="">
    <input type="datetime-local" name="" id="">
    
    <input type="submit" value="Continue">
</div>






</section>
</div>
</div>