<img  class = "transportation-Logo"src="/images/pexels-julia-volk-5207636.jpg" alt="" srcset="">
<h2 class="trans-Writing">Whip To Rip!</h2>

<section class="trans-Main">

{{#each transport}}

<div class="Trans-Cards">
<img  class = "cards-img"src="/images/pexels-adrian-dorobantu-2127732.jpg" alt="">
  <a href="/api/transport/{{id}}" class="Cards-Title">{{transportation_name}}</a>
  <p>{{capacity}}</p>
  <p>{{price}}</p>
</div>
{{/each}}
</section>
