<section class = "Upload-Acc">
  
      
            <label for="tName">Add Name:</label>
            <input type="text" name="Place" id="tName">
            <label for="tDescriptionId">Add Description:</label>
            <input type="text" name="Description" id="tDescriptionId">
          <label for="tCapacityId">Capacity:</label>
            <input type="text" name="price" id="tCapacityId">
            <label for="tPriceId">Add Price:</label>
            <input type="text" name="price" id="tPriceId">
            <label for="tFilenameId">Add Filename:</label>
            <input type="file" name="filename" id="tFilenameId" accept="image/*">
       <button class = "uploadInfo">Submit</button>
  

</section>
<script src="/js/uploadTran.js"></script>